repos:
  - repo: https://github.com/pycqa/isort
    rev: "5.12.0"
    hooks:
      - id: isort
        name: isort
        args: ["--profile", "black"]

  - repo: https://github.com/psf/black
    rev: "24.1.0"
    hooks:
      - id: black
        args: ["--line-length=88"]
        language_version: python3

  - repo: https://github.com/pycqa/flake8
    rev: "6.1.0"
    hooks:
      - id: flake8
        # Ignore line-length and a set of legacy/style errors per project preference
        args: ["--max-line-length=88", "--ignore=E203,W503,E501,E402,E722,F541,W292"]
